
@{
    ViewData["Title"] = "Home Page";
    var alphabet = Enumerable
        .Range((int)'A', 26)
        .Select(x => (((char)x).ToString(), "btn"))
        .Append((" ", "btn"))
        .Append(("<<", "backspaceBtn"))
        .Select((x, i) => new { Value = x, Index = i })
        .GroupBy(x => x.Index / 5, x => x.Value)
        .ToList();

    void renderTable(IEnumerable<IGrouping<int, (string, string)>> alphabet)
    {
        foreach (var col in alphabet)
        {
            <tr>
                @foreach (var cell in col)
                {
                    renderCell(cell);
                }
            </tr>
        }
    }

    void renderCell((string alpha, string className) cell)
    {
        if (string.IsNullOrEmpty(cell.className))
        {
            <td></td>
        }
        else
        {
            var alpha = cell.alpha == " " ? "space" : cell.alpha;
            <td><button class=@cell.className data-alpha=@alpha>@cell.alpha</button></td>
        }
    }
}

<div class="jumbotron">
    <h1>Train Station Finder</h1>
    <p class="lead">This website allows you to find train stations.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <input type="search" id="stationName" style="width: 100%" placeholder="Enter Station Name..." />
        </div>
        <div class="row">
            <table class="keyboard">
                <tbody>
                    @{
                        renderTable(alphabet);
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <strong>Search Results:</strong>
        </div>
        <div class="row">
            <table id="searchResults">
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div></div>
<script src="~/js/site.js" asp-append-version="true" type="module"></script>
